# GOOGLE_SHEET_ID: The ID of your Google Sheet (found in the URL)
GOOGLE_SHEET_ID=""
# GOOGLE_SERVICE_ACCOUNT_EMAIL: The email of your Google Service Account
GOOGLE_SERVICE_ACCOUNT_EMAIL=""
# GOOGLE_PRIVATE_KEY: The private key of your Google Service Account
GOOGLE_PRIVATE_KEY=""
